<mat-card class="uploader">
  <mat-card-header>
    <mat-card-title>Upload Plugin</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <div cdkDropList class="drop-zone" (click)="fileInput.click()">
      <mat-icon>cloud_upload</mat-icon>
      <h3>Drag and drop your ZIP file here</h3>
      <p>or click to browse</p>
      <p class="file-info">Accepted format: .zip</p>
    </div>
    <input #fileInput type="file" accept=".zip" hidden (change)="onPluginUpload($event)" />
  </mat-card-content>
</mat-card>
