:host {
  display: block;
  width: 100%;
  height: 100%;
}

.table-container {
  position: relative;
  height: 100%;
}

.table-divider {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.12);
  margin: 0 auto;
}

table {
  width: 90%;
  background-color: transparent;
  padding: 0 5%;
  table-layout: fixed;
}

th, td {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
