:host {
  display: block;
  padding: 16px;
}

.tile {
  padding: 0 !important;

  .placeholder {
    height: 100%;
    width: 100%;
    border: 2px dashed rgba(0,0,0,.2);
    border-radius: 12px;
    display: grid;
    place-items: center;
    background: rgba(0,0,0,.02);
    box-sizing: border-box;
  }

  &.widget-tile {
    border: 2px solid rgba(0,0,0,.12);
    border-radius: 12px;
    overflow: visible;
  }
}

.placeholder-content {
  display: grid;
  gap: 8px;
  place-items: center;
  text-align: center;
}

.label {
  font-size: 13px;
  opacity: .7;
}

.delete-badge {
  position: absolute;
  top: -12px;
  left: -12px;
  z-index: 20;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #ccc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &:hover {
    background: #999;
  }

  mat-icon {
    font-size: 19px;
    width: 19px;
    height: 19px;
  }
}

.widget-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}