:host {
  display: block;
  padding: 16px;
}

.tile {
  padding: 0 !important;

  .placeholder {
    height: 100%;
    width: 100%;
    border: 2px dashed rgba(0,0,0,.2);
    border-radius: 12px;
    display: grid;
    place-items: center;
    background: rgba(0,0,0,.02);
    box-sizing: border-box;
  }

  &.widget-tile {
    border: 2px solid rgba(0,0,0,.12);
    border-radius: 12px;
    overflow: hidden;
    background-color: red;
  }
}

.placeholder-content {
  display: grid;
  gap: 8px;
  place-items: center;
  text-align: center;
}

.label {
  font-size: 13px;
  opacity: .7;
}