<mat-grid-list [cols]="cols()" rowHeight="160px" gutterSize="16px" class="board">
  <mat-grid-tile *ngFor="let t of tiles()"
                 [colspan]="t.colspan"
                 [rowspan]="t.rowspan"
                 class="tile"
                 [class.widget-tile]="!!t.selectedWidget">
    <div *ngIf="!t.selectedWidget" class="placeholder">
      <div class="placeholder-content">
        <div class="label">Leeg vak</div>
        <button mat-stroked-button class="add-btn" (click)="onAdd(t)" aria-label="Widget toevoegen">
          <mat-icon>add</mat-icon>
          Toevoegen
        </button>
      </div>
    </div>

    <app-table *ngIf="t.selectedWidget" [widget]="t.selectedWidget!" (close)="onClear(t)"></app-table>
  </mat-grid-tile>
</mat-grid-list>
