<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'navigation'"
    mode="side"
    opened="true"
  >
    <mat-toolbar class="home-toolbar">
      <button mat-icon-button (click)="goHome()" matTooltip="Home">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button (click)="goRegistry()" matTooltip="Plugin Registry">
        <mat-icon>extension</mat-icon>
      </button>
      <button mat-icon-button (click)="goSettings()" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button (click)="goProfile()" matTooltip="Profile">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      @for (category of registryCategories(); track category) {
        <mat-list-item (click)="toggleCategory(category)" class="category-item">
          <span matListItemTitle>{{ category }}</span>
          <span matListItemMeta>{{ isExpanded(category) ? '−' : '+' }}</span>
        </mat-list-item>
        <div *ngIf="isExpanded(category)" class="plugin-list">
          @for (plugin of getPluginsByCategory(category); track plugin.id) {
            <a mat-list-item [routerLink]="['/registry', plugin.id]" class="plugin-item">
              <span matListItemTitle>{{ plugin.name }}</span>
            </a>
          }
        </div>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ pageTitle() }}</span>
    </mat-toolbar>
    <!-- Your main content goes here -->
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
